*{
	margin: 0px;
	padding: 0px;
}

h1{
	font: bold 20px Tahoma;
}

h2{
	font: bold 14px Tahoma;
}

header, section, footer, aside, nav, article, hgroup{

	display: block;
}

body{
	text-align: center;
}

#articulos{
	border: 1px solid black;
	width:1000px;
	margin:20px auto; /* _ _ _ _ cuatro datos a las agujas d reloj*/
	text-align: left;
}

#top_header{
	background: yellow;
	border: 1px solid blue;
	padding: 20px;
}

#top_menu{
	background: purple;
	color: white; /*color texto*/
	padding-left:15px;
}

#top_menu li{
	display: inline-block; /*poner menu en recto*/
	padding:5px;
	font: bold 14px Tahoma;
}

#main_section{
	float: left;
	width: 660px;
	margin: 30px; /*660+30+30=720px ocupados, 280px libres*/
	/*border: 1px solid black;*/
}

#news_aside{
	float: left;
	width: 220px;
	padding: 30px;
	margin: 20px 0px;
	background:#66DDDD;
}

#the_footer{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid green; /*border superior*/
}

article{
	background: white;
	border:1px solid red;
	padding:20px;
	margin-bottom:15px; /*borde inferior*/
}

article footer{
	text-align:right;
}






































































