*{
	margin: 0px;
	padding: 0px;
}

header, section, footer, aside, nav, article, hgroup{

	display: block;
}
#top_header{
	padding: 50px; 
	height: 50px;
	text-align: center;
	background-image: url("img/fondo.jpg");
	background-repeat: repeat-y;
}
/*---------------------------------*/
#top_menu {
    width:100%;
    font-weight: bold;
    background-color: #C0C0C0 ;
    margin: 0 auto;
    height: 38px;
}

ul, ol {
    list-style:none;
}

#top_nav {
    width:800px;
    margin:0 auto; 
}

#top_nav > li {
    float:left;
}

#top_nav li a {
    background-color:#C0C0C0 ;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    display:block;
}

#top_nav li a:hover {
    background-color:#909090 ;
}

#top_nav li ul {
    display:none;
    position:absolute;
    min-width:160px;
}

#top_nav li:hover > ul {
    display:block;
}

#top_nav li ul li {
    position:relative;
}
/* ----------------------------------------*/
#section_izda{
	float: left;
	width: 50%;
}
#section_dcha{
	float: right;
	width: 50%;
}
img{
	width: 50%;
	min-width: 100px;
}
img :hover{
 -webkit-transform: scale(3.5);
 
}