*{
	margin: 0px;
	padding: 0px;
   
}
body{
    background-color: #FBEFF2;
}

header, section, footer, aside, nav, article, hgroup{

	display: block;
}
#top_header{
	padding: 50px; 
	height: 50px;
	background-image: url("img/fondo.jpg");
}

/*---------------------------------*/
#top_menu {
    width:100%;
    font-weight: bold;
    background-color: #610B38;
    margin: 0 auto;
    height: 38px;
    padding-left: 100px;
}

ul, ol {
    list-style:none;
}

#top_nav {
    width:800px;
    margin:0 auto; 

}

#top_nav > li {
    float:left;
}

#top_nav li a {
    color:#FBEFF2;
    text-decoration:none;
    padding:10px 20px;
    display:block;
    background-color: #610B38;
}

#top_nav li a:hover {
    background-color:#8A084B ;
}

#top_nav li ul {
    display:none;
    position:absolute;
    min-width:160px;
}

#top_nav li:hover > ul {
    display:block;
}

#top_nav li ul li {
    position:relative;
}
/* ----------------------------------------*/

article{
    border: 5px;
    border-color: black;
    width: 500px;
    height: 400px;
    text-align: justify;
}
#section_izda{
    margin-left: 100px;
	width: 45%;
    -webkit-box-flex:1;
}
#section_dcha{
    
	width: 45%;
    -webkit-box-flex:1;
}
img{
    padding: 0;
    max-width: 100%;
    height: 300px;
}
img:hover{
    /*-webkit-transform: scale(0.5);*/
    -webkit-transform: rotate(300deg);
 
}
#new_div{
    margin-top: 50px;
    width: 100%;
    display: -webkit-inline-flex;
    -webkit-flex-flow: row wrap;
}
